.graph-container {
  width: 100vw;
  height: 100vh;
}
.graph-container.edit {
  canvas {
    pointer-events: none;
  }
}
.add-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 12px;
  background: #d86202;
  color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
